body {
    background-color:  #23272C;
    /* color:azure; */
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    color:#A5BE00;
    font-size: 40px;
    background-color: #23272C;
}

#homeImage{
    display:flex;
    justify-content: center;
}

.navBar {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    background-color: #69DAFF;
    font-size: 25px;
}

#description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    background-color: #A5BE00;
    color: #23272C;
}

#contactText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    background-color: #A5BE00;
}

#contactImage {
    display:flex;
    justify-content: center;
}

#socialBar { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #69DAFF;
    font-size: 25px;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    color:#ffffff
}

a {
    color: #637B80;
    text-decoration: none;
}

#exerciseCentre {
    display:flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    background-color: #A5BE00;
}

.amigos {    
    display: flex;    
    justify-content: space-evenly;    
    flex-wrap:wrap;    
    height: auto;     
    width: auto;    
    object-fit: contain;    
} 

#table {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#bground {
    color:#A5BE00;
    text-align: center;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    
    
  }
  .column {
    padding: 16px;
    height: 600px;
    margin: 5px;
    padding-bottom: 50px;
  }

  .p {
      text-align: center;
  }


/* #brand {
    display:flex;
    justify-content: flex-start;
}

#Pages {
    display:flex;
  flex-direction: column-reverse;
} */